* {
  padding: 0;
  margin: 0;
}

#main_container {
  width: 100vw;
}
#project_select {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 0 1rem 0 1rem;
  min-width: max-content;
  background-color: aliceblue;
}
#add_project_button {
  margin-top: auto;
}
#project_header {
  display: flex;
  align-self: stretch;
  padding: 1rem;
  justify-content: space-between;
  background-color: beige;
}
#project_list {
  display: grid;
  grid-template-columns: 1fr 0.2fr;
}
#add_project_container,
#add_task_container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 0.5fr;
  align-items: center;
  justify-items: center;
  padding: 1rem;
  min-width: max-content;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
}

.add_project_container_hidden {
  visibility: hidden;
}
.add_task_container_hidden {
  visibility: hidden;
}

a {
  padding: 1rem 0 1rem 0;
}

#project_tasks_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(127, 150, 255);
}

.todo_task {
  margin: 0.4rem;
  max-width: 60%;
  min-width: min-content;
  background-color: rgb(155, 182, 184);
}
table,
tr,
th,
td {
  margin: 1rem;
  padding: 0.5rem;
  background-color: bisque;
}
table,
th,
td {
  background-color: rgb(255, 255, 255);
}
th {
  box-shadow: 1px 1px 4px black;
  border-radius: 1rem;
  background-color: antiquewhite;
}
table {
  border-radius: 3rem;
  padding: 1rem;
}
td {
  background-color: blanchedalmond;
}
